.content {
    margin: 3%;
    width: 50%
}

.title {
    font-weight: bolder;
    font-size: x-large;
    margin: 5%;
    margin-bottom: 5%;
}

.card {
    width: 30%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    padding-bottom: 5%;
}

.details {
    margin-left: 4%;
}

.foto {
    max-width: 10vw;
    max-height: 10vh;
}

.link {
    max-width: 2vw;
    max-heigth: 2vh;
    margin-top: 10%;
    margin-left: 10%;
}

.card p {
    font-weight: bold;
    margin-left: 2%;
}