.content {
    margin: 5%
}

.card {
    display: flex;
    padding: 5%;
}

.foto {
    max-width: 10vw;
    max-height: 10vh;
}

.link {
    max-width: 4vw;
    max-heigth: 4vh;
}

.card p {
    font-weight: bold;
}