.FooterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(58, 91, 128);
  border: solid 2px black;
  padding-right: 10px;
  color: white;
}

.FooterDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
