.HeaderDiv {
  border: solid 0px rgb(0, 0, 0);
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem 0rem 3rem;
  border-radius: 2px;
}

.HeaderDiv img {
  height: 5rem;
}

.HeaderDiv p {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.HeaderDiv h1 {
  color: white;
}

.HeaderDiv img:last-child {
  height: 3rem;
}
