.SidebarDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(153, 182, 184);
  width: 10rem;
  min-height: 42.5rem;
  max-height: 42.5rem;
  color: white;
  font-weight: bold;
}
